<article class="post">
      <div class="title">
        <a href="/post/{{post.id}}"><h1>{{post.title}}</h1></a>
      </div>
      <div class ="content">
          <p>{{post.content}}</p>
      </div>
      <div class="meta">
        <span>from {{post.user.username}} on {{format_date post.created_at}}</span>
        <h4>Comments</h4>
          <ul class="comment-list">
          {{#each post.comments as |comment|}}
            <li>
              <p>{{comment.comment_text}} <span>from {{comment.user.username}} on {{format_date comment.created_at}}</span></p>
            </li> 
          {{/each}}
          </ul>
      </div>    
</article>